<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">nombre</th>
      <th class="text-center" scope="col">Codigo Postal</th>
      <th class="text-center" scope="col">Departamento</th>
      <th class="text-center" scope="col">
        <button type="button" class="btn btn-sm btn-outline-success" ngbTooltip="Agregar Localidad"><i class="fas fa-plus"></i> Localidad</button>
      </th>
    </tr>
  </thead>
  <tbody *ngIf="(localidad.length == 0)">
    <tr>
      <td colspan="4" class="bg-warning text-center">No se han encontrado ninguna Localidad</td>
    </tr>
  </tbody>
  <tbody *ngIf="(localidad.length > 0)">
    <tr *ngFor="let loc of localidad" >
      <td>{{loc.nombre}}</td>
      <td class="text-center">{{loc.codigo_postal}}</td>
      <td class="text-center">{{loc.departamento}}</td>
      <td class="text-center">
        <button type="button" class="btn btn-sm btn-outline-secondary rounded-circle" ngbTooltip="Editar Localidad"><i class="far fa-edit"></i></button>
        <button type="button" class="btn btn-sm btn-outline-info rounded-circle" ngbTooltip="Agregar Excepción"><i class="fas fa-exchange-alt"></i></button>
      </td>
    </tr>
  </tbody>
</table>
