<h2>Gestión de Localidades</h2>

<div class="shadow-sm mb-3 bg-white p-3 rounded">
  <span>Búsqueda avanzada</span>
</div>

<div class="shadow-sm mb-3 bg-white p-3 rounded">
  <ul ngbNav #nav="ngbNav" class="nav-tabs">
    <li ngbNavItem>
      <a ngbNavLink>Localidades</a>
      <ng-template ngbNavContent>
        <admin-localidad-lista [localidades]="listas.localidades" [provincias]="listas.provincias"></admin-localidad-lista>
      </ng-template>
    </li>
    <li ngbNavItem>
      <a ngbNavLink>Excepciones</a>
      <ng-template ngbNavContent>
        <span>Listado de exepciones</span>
      </ng-template>
    </li>
  </ul>
  <div  class="p-3" [ngbNavOutlet]="nav"></div>
</div>

