<h2>Personas</h2>
<div class="shadow-sm p-3 mb-3 bg-white rounded">
  <busqueda-avanzada-persona [tipo]="'persona'" [config-listas]="configListas" (obtenerBusqueda)="realizarBusqueda($event, configPaginacion.page)" (limpiar)="limpiarCampos($event)" ></busqueda-avanzada-persona>
</div>
<div class="shadow-sm p-3 mb-3 bg-white rounded">
  <shared-lista-alta-persona [config-listas]="configListas" [personas]="personas" [tipo]="'persona'" [configPaginacion]="configPaginacion" (cambioDePagina)="cambiarPagina($event)" [activarInterbanking]="false" ></shared-lista-alta-persona>
</div>

