<div class="d-flex justify-content-between">
  <div class="col-4 pt-1"><hr></div>
  <div class="col-4 text-center"><h3><small class="text-muted">Dirección</small></h3></div>
  <div class="col-4 pt-1"><hr></div>
</div>
<fieldset [formGroup]="lugar">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="localidad">Localidad:</label>
        <select class="form-control" id="localidad" formControlName="localidadid" [ngClass]="{'is-invalid': (lugar.get('localidadid').invalid && submitted)}">
          <option value="">Seleccionar Localidad</option>
          <option *ngFor="let localidad of localidades" value="{{localidad.id}}">{{localidad.nombre}}</option>
        </select>
        <div *ngIf="(lugar.get('localidadid').invalid && submitted)" class="text-danger">
          <small *ngIf="lugar.get('localidadid').hasError('required')">Por favor, seleccione una localidad. </small>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="calle">Calle:</label>
        <input type="text" id="calle" formControlName="calle" class="form-control" placeholder="Ej.: México" [ngClass]="{'is-invalid': (lugar.get('calle').invalid && submitted)}">
        <div *ngIf="(lugar.get('calle').invalid && submitted)" class="text-danger">
          <small *ngIf="lugar.get('calle').hasError('required')">Este campo es requerido. </small>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="altura">Número:</label>
        <input type="text" id="altura" formControlName="altura" class="form-control" placeholder="Ej.: 345" [ngClass]="{'is-invalid': (lugar.get('altura').invalid && submitted)}">
        <div *ngIf="(lugar.get('altura').invalid && submitted)" class="text-danger">
          <small *ngIf="lugar.get('altura').hasError('required')">Este campo es requerido. </small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="barrio">Barrio:</label>
        <input type="text" id="barrio" formControlName="barrio" class="form-control" placeholder="20 de Junio">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="escalera">Escalera/Modúlo:</label>
        <input type="text" id="escalera" formControlName="escalera" class="form-control" placeholder="Ej.: 6">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="piso">Piso:</label>
        <input type="text" id="piso" formControlName="piso" class="form-control" placeholder="Ej.: 2">
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="depto">Dpto:</label>
        <input type="text" id="depto" formControlName="depto" class="form-control" placeholder="Ej.: B">
      </div>
    </div>
  </div>
</fieldset>
