<div class="d-flex justify-content-between">
  <div class="col-4 pt-1"><hr></div>
  <div class="col-4 text-center"><h3><small class="text-muted">Datos Personales</small></h3></div>
  <div class="col-4 pt-1"><hr></div>
</div>
<div class="d-flex justify-content-end">
  <small class="text-danger">(*) Campos obligatorios</small>
</div>
<fieldset [formGroup]="personaForm">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="tipo_documentoid">Tipo Documento (<span class="text-danger">*</span>)</label>
        <select class="form-control" id="tipo_documentoid" formControlName="tipo_documentoid" [ngClass]="{'is-invalid': (personaForm.get('tipo_documentoid').invalid && submitted)}">
          <option value="">Seleccionar Tipo Documento</option>
          <option *ngFor="let tipo of configurarListas.tipo_documento" value="{{tipo.id}}">{{tipo.nombre}}</option>
        </select>
        <div *ngIf="(personaForm.get('tipo_documentoid').invalid && submitted)" class="text-danger">
          <small *ngIf="personaForm.get('tipo_documentoid').hasError('required')">Por favor, seleccione un tipo de documento. </small>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="nro_documento">Nro. Documento (<span class="text-danger">*</span>)</label>
        <input type="text" class="form-control" formControlName="nro_documento" placeholder="Ej.: 3246789" id="nro_documento" minlength="7" maxlength="8" (keyup)="soloNumero($event.target)" (change)="validarCuil($event.target.value)" [ngClass]="{'is-invalid': (personaForm.get('nro_documento').invalid && submitted)}">
        <div *ngIf="(personaForm.get('nro_documento').invalid && submitted)" class="text-danger">
          <small *ngIf="personaForm.get('nro_documento').hasError('minlength')">El número de documento debe tener al menos 7 digitos.</small>
          <small *ngIf="personaForm.get('nro_documento').hasError('required')">Este campo es requerido. </small>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="cuil">Cuil (<span class="text-danger">*</span>)</label>
        <div class="input-group">
          <input type="text" class="form-control col-3" id="cuil_primero" formControlName="cuil_primero" placeholder="##"  maxlength="2"
          (change)="armarCuil()" (keyup)="soloNumero($event.target)" [ngClass]="{'is-invalid': (personaForm.get('cuil_primero').invalid && submitted)}">
          <div class="input-group-addon div-cuil-num-center">{{cuil_medio}}</div>
          <input type="text" class="form-control col-3" id="cuil_ultimo" formControlName="cuil_ultimo" placeholder="#" maxlength="1"
          (change)="armarCuil()" (keyup)="soloNumero($event.target)" [ngClass]="{'is-invalid': (personaForm.get('cuil_ultimo').invalid && submitted)}">
        </div>
        <div *ngIf="((personaForm.get('cuil_primero').invalid || personaForm.get('cuil_ultimo').invalid) && submitted)" class="text-danger">
          <small *ngIf="(personaForm.get('cuil_primero').hasError('required') || personaForm.get('cuil_ultimo').hasError('required'))">Por favor, verifique si los campos han sido completados correctamente. </small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="apellido">Apellido (<span class="text-danger">*</span>)</label>
        <input type="text" id="apellido" formControlName="apellido" class="form-control" placeholder="Ej.: Cullumilla" [ngClass]="{'is-invalid': (personaForm.get('apellido').invalid && submitted)}">
        <div *ngIf="(personaForm.get('apellido').invalid && submitted)" class="text-danger">
          <small *ngIf="personaForm.get('apellido').hasError('required')">Este campo es requerido. </small>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="nombre">Nombre (<span class="text-danger">*</span>)</label>
        <input type="text" id="nombre" formControlName="nombre" class="form-control" placeholder="EJ.; Pedro" [ngClass]="{'is-invalid': (personaForm.get('nombre').invalid && submitted)}">
        <div *ngIf="(personaForm.get('nombre').invalid && submitted)" class="text-danger">
          <small *ngIf="personaForm.get('nombre').hasError('required')">Este campo es requerido. </small>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="nacionalidad">Nacionalidad (<span class="text-danger">*</span>)</label>
        <select class="form-control" id="nacionalidad" formControlName="nacionalidadid" [ngClass]="{'is-invalid': (personaForm.get('nacionalidadid').invalid && submitted)}">
          <option value="">Seleccionar Nacionalidad</option>
          <option *ngFor="let nacionalidad of configurarListas.nacionalidad" value="{{nacionalidad.id}}">{{nacionalidad.nombre}}</option>
        </select>
        <div *ngIf="(personaForm.get('nacionalidadid').invalid && submitted)" class="text-danger">
          <small *ngIf="personaForm.get('nacionalidadid').hasError('required')">Por favor, seleccione una nacionalidad. </small>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="fecha_nacimiento">Fecha Nacimiento (<span class="text-danger">*</span>)</label>
        <div class="input-group">
          <input class="form-control" #c1 placeholder="Ej.: dd/mm/yyyy" ngbDatepicker #fpd="ngbDatepicker"
          id="fecha_nacimiento" formControlName="fechaNacimiento" (ngModelChange)="formatFechaNacimiento($event)" [ngClass]="{'is-invalid': (personaForm.get('fechaNacimiento').invalid && submitted)}" >
          <div class="input-group-append">
              <button class="btn btn-outline-info" (click)="fpd.toggle()" type="button" [ngClass]="{'btn-outline-danger': (personaForm.get('fechaNacimiento').invalid && submitted), 'is-invalid': (personaForm.get('fechaNacimiento').invalid && submitted)}"> <!--  -->
                <i class="far fa-calendar-alt"></i>
              </button>
          </div>
          <div *ngIf="(personaForm.get('fechaNacimiento').invalid && submitted)" class="text-danger">
            <small *ngIf="personaForm.get('fechaNacimiento').hasError('required')">Por favor, ingrese una fecha de nacimiento. </small>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="estado_civil">Estado Civil:</label>
        <select class="form-control" id="estado_civil" formControlName="estado_civilid">
          <option value="">Seleccionar Estado Civil</option>
          <option *ngFor="let estado_civil of configurarListas.estado_civil" value="{{estado_civil.id}}">{{estado_civil.nombre}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="sexo">Sexo / Género (<span class="text-danger">*</span>)</label>
        <div class="input-group">
          <select class="form-control" id="sexo" formControlName="sexoid" [ngClass]="{'is-invalid': (personaForm.get('sexoid').invalid && submitted)}">
            <option value="">Sexo</option>
            <option *ngFor="let sexo of configurarListas.sexo" value="{{sexo.id}}">{{sexo.nombre}}</option>
          </select>
          <select class="form-control" id="genero" formControlName="generoid">
            <option value="">Género</option>
            <option *ngFor="let genero of configurarListas.genero" value="{{genero.id}}">{{genero.nombre}}</option>
          </select>
          <div *ngIf="(personaForm.get('sexoid').invalid && submitted)" class="text-danger">
            <small *ngIf="personaForm.get('sexoid').hasError('required')">Por favor, seleccione un sexo. </small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <div class="col-4 pt-1"><hr></div>
    <div class="col-4 text-center"><h3><small class="text-muted">Contacto</small></h3></div>
    <div class="col-4 pt-1"><hr></div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="telefono">Telefono:</label>
        <input type="text" id="telefono" formControlName="telefono" class="form-control" placeholder="Ej.: 2920 - 437683">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="celular">Celular:</label>
        <input type="text" id="celular" formControlName="celular" class="form-control" placeholder="Ej.: 2920 - 254693">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="email">Mail:</label>
        <input type="text" id="email" formControlName="email" class="form-control" placeholder="Ej.: 2920 - 254693" (keyup)="aMinuscula($event.target)" [ngClass]="{'is-invalid': (personaForm.get('email').invalid && submitted)}">
        <div *ngIf="(personaForm.get('email').invalid && submitted)" class="text-danger">
          <div *ngIf="personaForm.get('email').hasError('pattern')">El email es invalido.</div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
<shared-form-lugar [lugar]="personaForm.get('lugar')" [localidades]="configurarListas.localidades" [submitted]="submitted"></shared-form-lugar>

<div class="d-flex justify-content-between">
  <button type="button" class="btn btn-outline-danger" (click)="cancelar()"><i class="fas fa-ban"></i> Cancelar</button>
  <button type="button" class="btn btn-outline-success" (click)="validarPersona()"><i class="far fa-save"></i> Guardar</button>
</div>
