<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Cuil</th>
      <th scope="col" rowspan="1" colspan="2">Apellido y Nombre</th>
      <th class="text-center" scope="col">Ingreso Neto</th>
      <th class="text-center" scope="col">Fecha de Ingreso</th>
      <th class="text-center">Acción</th>
    </tr>
  </thead>
  <tbody *ngIf="(personaSeleccionada.length == 0)">
    <tr class="text-center bg-warning" rowspan="1"><td colspan="6"><strong>NO HAY PERSONAS SELECCIONADAS</strong></td></tr>
  </tbody>
  <tbody *ngIf="(personaSeleccionada.length > 0)">
    <tr *ngFor="let persona of personaSeleccionada; let i = index;">
      <td>{{persona.cuil}}</td>
      <td rowspan="1" colspan="2">
        {{persona.apellido}}, {{persona.nombre}}
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-light" ngbTooltip="{{direccion(persona.lugar)}}" container="body" triggers="click:blur" ><i class="fas fa-home"></i></button>
          <button *ngIf="(persona.telefono !== '')" type="button" class="btn btn-sm btn-light" ngbTooltip="{{persona.telefono}}" container="body" triggers="click:blur"><i class="fas fa-phone"></i></button>
          <button *ngIf="(persona.celular !== '')" type="button" class="btn btn-sm btn-light" ngbTooltip="{{persona.celular}}" container="body" triggers="click:blur"><i class="fas fa-mobile-alt"></i></button>
          <button *ngIf="(persona.email !== '')" type="button" class="btn btn-sm btn-light" ngbTooltip="{{persona.email}}" container="body" triggers="click:blur"><i class="far fa-envelope"></i></button>
        </div>
      </td>
      <td class="text-center">{{persona.ingreso_monto}}</td>
      <td class="text-center">{{persona.fecha_ingreso}}</td>
      <td class="text-center">
        <button type="button" class="btn btn-sm btn-danger" (click)="borrarPersona(i)"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
  </tbody>
</table>
