<table class="table table-hover table-sm">
  <thead>
    <tr>
      <th scope="col">Cuil</th>
      <th scope="col" rowspan="1" colspan="2">Apellido y Nombre</th>
      <th class="text-center" scope="col">Ingreso Neto</th>
      <th class="text-center" scope="col">Fecha de Ingreso</th>
      <th class="text-center">Acción</th>
    </tr>
  </thead>
  <tbody *ngIf="(personaSeleccionada.length == 0)">
    <tr class="text-center bg-warning" rowspan="1"><td colspan="6"><strong>NO HAY PERSONAS SELECCIONADAS</strong></td></tr>
  </tbody>
  <tbody *ngIf="(personaSeleccionada.length > 0)">
    <tr *ngFor="let persona of personaSeleccionada; let i = index;">
      <td>{{persona.cuil}}</td>
      <td rowspan="1" colspan="2">
        {{persona.apellido}}, {{persona.nombre}}
        <button type="button" class="btn btn-sm btn-light" ngbTooltip="casa" container="body" triggers="click:blur" ><i class="fas fa-home"></i></button>
        <button type="button" class="btn btn-sm btn-light"><i class="fas fa-phone"></i></button>
        <button type="button" class="btn btn-sm btn-light"><i class="fas fa-mobile-alt"></i></button>
      </td>
      <td class="text-center">{{persona.ingreso_monto}}</td>
      <td class="text-center">{{persona.fecha_ingreso}}</td>
      <td class="text-center">
        <button type="button" class="btn btn-sm btn-danger" (click)="borrarPersona(i)"><i class="fas fa-trash-alt"></i></button>
      </td>
    </tr>
  </tbody>
</table>
