<div class="row m-1">
  <div class="form-group col-md-12" [formGroup]="user">
    <label for="rol" class="prioridad">Rol (<span>*</span>):</label>
    <select class="form-control" id="rol" formControlName="rol" (change)="listarPermisos()" [ngClass]="{'is-invalid': (user.get('rol').invalid && submitted)}">
      <option value="">Seleccione Rol</option>
      <option *ngFor="let rol of listaRoles" value="{{rol.name}}">{{rol.name}}</option>
    </select>
    <div *ngIf="(user.get('rol').invalid && submitted)"
        class="text-danger">
        <div *ngIf="user.get('rol').hasError('required')">Este campo es requerido. </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-group">
      <label for="permisos">Permiso/s:</label>
      <ng-select [items]="listaPermisos"
        bindLabel="name"
        placeholder="Seleccione uno o varios permiso/s."
        appendTo="body"
        multiple="true"
        [(ngModel)]="permisosSeleccionados">
      </ng-select>
    </div>
  </div>
  <div *ngIf="!baja" class="col-md-12">
    <button type="button" class="btn btn-success btn-block" (click)="validarDatos()"><i class="far fa-save"></i> Guardar</button>
  </div>
  <div *ngIf="!baja" class="col-md-12 mt-1 mb-2">
    <admin-usuario-permiso-lista [listaUsuarioConPermisos]="listaUsuarioConPermisos"></admin-usuario-permiso-lista>
  </div>
  <div *ngIf="baja" class="col-md-12">
    <div class="alert alert-danger text-center" role="alert">
      El usuario ha sido dado de baja. En estos momentos no se le pueden asignar Permisos.
    </div>
  </div>
</div>

