<fieldset [formGroup]="localidadForm">
  <div class="row" >
    <div class="form-group col-md-12">
      <label for="provinciaid" class="prioridad">Provincia:</label>
      <select class="form-control" id="provinciaid" formControlName="provinciaid" (change)="departamentoPorProvincia($event.target.value)" [ngClass]="{'is-invalid': (localidadForm.get('provinciaid').invalid && submitted)}">
        <option value="">Seleccione una Provincia</option>
        <option *ngFor="let prov of provincias" value="{{prov.id}}">{{prov.nombre}}</option>
      </select>
    </div>
    <div class="form-group col-md-12">
      <label for="departamentoid" class="prioridad">Departamento (<span>*</span>):</label>
      <select class="form-control" id="departamentoid" formControlName="departamentoid" [ngClass]="{'is-invalid': (localidadForm.get('departamentoid').invalid && submitted)}">
        <option value="">Seleccione un Departamento</option>
        <option *ngFor="let depto of departamentos" value="{{depto.id}}">{{depto.nombre}}</option>
      </select>
      <div *ngIf="(localidadForm.get('departamentoid').invalid && submitted)" class="text-danger">
          <div *ngIf="localidadForm.get('departamentoid').hasError('required')">Este campo es requerido. </div>
      </div>
    </div>
    <div class="form-group col-md-12">
      <label for="nombre_localidad" class="prioridad">Localidad (<span>*</span>):</label>
      <input type="text" id="nombre_localidad" placeholder="Ej.: Medanos" class="form-control" formControlName="nombre" [ngClass]="{'is-invalid': (localidadForm.get('nombre').invalid && submitted)}">
      <div *ngIf="(localidadForm.get('nombre').invalid && submitted)" class="text-danger">
          <div *ngIf="localidadForm.get('nombre').hasError('required')">Este campo es requerido. </div>
      </div>
    </div>
    <div class="form-group col-md-12">
      <label for="codigo_postal" class="prioridad">Código Postal (<span>*</span>):</label>
      <input type="text" id="codigo_postal" placeholder="Ej.:8500" class="form-control" formControlName="codigo_postal" (keyup)="soloNumero($event.target)" maxlength="4" [ngClass]="{'is-invalid': (localidadForm.get('codigo_postal').invalid && submitted)}">
      <div *ngIf="(localidadForm.get('codigo_postal').invalid && submitted)" class="text-danger">
          <div *ngIf="localidadForm.get('codigo_postal').hasError('required')">Este campo es requerido. </div>
          <div *ngIf="localidadForm.get('codigo_postal').hasError('minlength')">El código postal no puede ser menor a 4 dígitos.</div>
      </div>
    </div>
  </div>
  <hr class="pt1">
  <div class="float-right">
      <button type="button" class="btn btn-danger" (click)="cancelar()"><span class="oi oi-ban" title="Cancelar" aria-hidden="true"></span> Cancelar</button>&nbsp;
      <button type="button" class="btn btn-success" (click)="validarForm()" ><span class="fas fa-save" title="Guardar" aria-hidden="true"></span> Guardar</button>
  </div>
</fieldset>
