.form-signin {
  width: 340px;
  background: #8cc63f !important;
  padding: 10px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  box-shadow: 0px 2px 20px rgba(50, 50, 50, 0.95);
}
