<div class="shadow-sm p-3 mb-3 bg-white rounded">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" [(ngModel)]="global_param" placeholder="Buscar por Nro Documento, Apellido, Nombre, Cuil">
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-primary"><i class="fas fa-search"></i></button>
        <button type="button" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
      </div>
    </div>
  </div>
  <shared-lista-alta-persona [tipo]="'cuenta'" (seleccionDePersona)="obtenerPersona($event)"></shared-lista-alta-persona>
</div>
<div class="shadow-sm p-3 mb-3 bg-white rounded">
  <cuenta-listado-persona-selecionada [personaSeleccionada]="listadoPersonasSeleccionadas"></cuenta-listado-persona-selecionada>
</div>

