<div class="shadow-sm p-3 mb-3 bg-white rounded">
  <div class="form-group">
    <div class="input-group">
      <input class="form-control" [(ngModel)]="global_param" placeholder="Buscar por Nro Documento, Apellido, Nombre, Cuil">
      <div class="input-group-append">
        <button type="button" class="btn btn-outline-primary" (click)="realizarBusqueda(global_param, configPaginacion.page)"><i class="fas fa-search"></i></button>
        <button type="button" class="btn btn-outline-danger" (click)="limpiarCampos()"><i class="fas fa-trash-alt"></i></button>
        <modal-crear-persona [config-listas]="listas" (cuilPersona)="actualizarBusqueda($event)" ></modal-crear-persona>
      </div>
    </div>
  </div>
  <shared-lista-alta-persona [tipo]="'cuenta'" [personas]="personas" [config-listas]="listas" [configPaginacion]="configPaginacion" (cambioDePagina)="cambiarPagina($event)" (seleccionDePersona)="obtenerPersona($event)" (cuilPersona)="actualizarBusqueda($event)" ></shared-lista-alta-persona>
</div>
<div class="shadow-sm p-3 mb-3 bg-white rounded">
  <cuenta-listado-persona-selecionada [personaSeleccionada]="listas.seleccionPersona" [tipo]="'cuenta-saldo'"></cuenta-listado-persona-selecionada>
</div>

