<div class="shadow-sm p-3 mb-3 bg-white rounded">
  <busqueda-avanzada-persona [tipo]="'importar'" [config-listas]="configListas" (obtenerBusqueda)="realizarBusqueda($event, configPaginacion.page)" (limpiar)="limpiarCampos($event)"></busqueda-avanzada-persona>
</div>
<div class="shadow-sm p-3 mb-3 bg-white rounded">
  <modal-importar-archivo></modal-importar-archivo>
  <shared-lista-alta-persona [personas]="personas" [configPaginacion]="configPaginacion" [tipo]="'importar'"></shared-lista-alta-persona>
</div>
