<div *ngIf="mensaje" class="overlay" ></div>
<div *ngIf="mensaje" class="mensaje-container">
  <div *ngIf="mensaje" class="{{ cssClass(tipo) }} mensajes-alert" role="alert">
    <div class="mensaje-alert-header">
        <h4 class="alert-heading">{{obtenerTitulo(tipo)}}</h4>
    </div>
    <div class="mensaje-alert-body">
      <div class="d-flex justify-content-start align-items-center">
        <span class="{{cssIconColor(tipo)}}" style="font-size: 3em;"><i class="{{iconClass(tipo)}}"></i></span>
        <!-- <div *ngIf="(msjEsCadena(mensaje))" class="ml-3" >{{mensaje}}</div> -->
        <div *ngIf="(tipo === 5)" class="ml-3 pt-3">
          <ul *ngFor="let msj of mensaje">
            <li>{{msj.persona}}</li>
            <li *ngIf="(msj.calle !== undefined)">{{msj.calle}}</li>
            <li *ngIf="(msj.altura !== undefined)">{{msj.altura}}</li>
          </ul>
        </div>
        <div *ngIf="!(msjEsCadena(mensaje))" class="ml-3" >
          <ul *ngFor="let msj of mensaje">
            <li>{{msj.persona}}</li>
            <li *ngIf="(msj.calle !== undefined)">{{msj.calle}}</li>
            <li *ngIf="(msj.altura !== undefined)">{{msj.altura}}</li>
          </ul>
        </div>
      </div>
      <div *ngIf="(tipo === 6 && existen !== false)" class="d-flex justify-content-start align-items-center bg-warning mod-border-rounded" >
        <span style="font-size: 3em; color:yellow;"><i class="fas fa-exclamation-triangle"></i></span>
          <div class="ml-3">{{existen}}</div>
      </div>
      <div *ngIf="(tipo === 6 && errors.length > 0)"class="ml-3 bg-info border-rounded text-white altura-info-adicional" >
          <div *ngFor="let msj of errors" class="text-center m-2">{{msj}}</div>
      </div>
    </div>
    <div class="float-right mt-3">
      <button type="button" class="btn btn-default border-dark" (click)="removeAlert()">Cerrar</button>
    </div>
  </div>
</div>
