.border {
  border-color: #036954 !important;
  border-style: dashed !important;
}
.ds-cabecera-text {
  margin-left: 0.5rem;
  text-align: Left;
}
.margin-left-title {
  margin-left: -1.5rem;
}
.margin-left-ul {
  margin-left: 1rem;
}
