<div *ngFor="let cuenta of listaCuentas" class="card mt-2">
    <div class="card-header">
      <div class="d-flex justify-content-between">
        <span class="d-flex align-items-center">Datos de la cuenta</span>
        <span class="d-flex align-items-center">
          <modal-registrar-cbu [listadoBancos]="listaBancos" [personaid]="cuenta.personaid" [edicion]="true" [datosCuenta]="cuenta" (actualizarDatos)="actualizarDatos($event)"></modal-registrar-cbu>
        </span>
      </div>
    </div>
    <div class="card-body">
      <div class="row" >
        <div class="col-md-6">
          <dl class="row">
            <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Banco:</dt>
            <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{cuenta.banco}}</dd>
          </dl>
        </div>
        <div class="col-md-6">
          <dl class="row">
            <dt class="col-6 col-sm-6 col-md-6 col-lg-6">Cuenta:</dt>
            <dd class="col-6 col-sm-6 col-md-6 col-lg-6">{{cuenta.tipo_cuenta}}</dd>
          </dl>
        </div>
        <div class="col-md-12">
          <dl class="row">
            <dt class="col-3 col-sm-3 col-md-3 col-lg-3">CBU:</dt>
            <dd class="col-9 col-sm-9 col-md-9 col-lg-9">{{cuenta.cbu}}</dd>
          </dl>
        </div>
      </div>
    </div>
</div>


