<div class="d-flex justify-content-between">
  <div class="d-flex align-items-center p-2 font-weight-bold">
    <span *ngIf="configPaginacion.totalRegistros > 0">Personas: {{configPaginacion.cantRegistros}} - {{configPaginacion.totalRegistros}} de {{configPaginacion.colleccionSize}}</span>
    <span *ngIf="configPaginacion.totalRegistros == 0">Personas: 0</span>
  </div>
  <div class="d-flex align-items-center font-weight-bold">
    <ngb-pagination *ngIf="(configPaginacion.colleccionSize > 0)"  [collectionSize]="configPaginacion.colleccionSize" [(page)]="configPaginacion.page" [pageSize]="configPaginacion.pageSize" [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="cambioPagina(configPaginacion.page)" aria-label="lisado de stock"></ngb-pagination>
  </div>
</div>
<table class="table table-hover table-sm table-responsive-md">
  <thead>
    <tr>
      <th scope="col">Cuil</th>
      <th scope="col" rowspan="1" colspan="2">Apellido y Nombre</th>
      <th class="text-center">Localidad</th>
      <th *ngIf="(tipo == 'cuenta')" class="text-center">Sucursal</th>
      <th *ngIf="(tipo !== 'cuenta')" class="text-center" scope="col">Fecha de Ingreso</th>
      <th class="text-center">Acción</th>
    </tr>
  </thead>
  <tbody *ngIf="(listadoPersonas.length == 0)">
    <tr class="table-warning">
      <td rowspan="1" colspan="6" class="text-center">
        <strong>NO SE HAN ENCONTRADO PERSONAS</strong>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="(listadoPersonas.length > 0)">
    <tr *ngFor="let persona of listadoPersonas" [ngClass]="{'table-warning': persona.convenio_pendiente, 'table-info': persona.para_exportar}" ngbTooltip="{{esPendiente(persona.convenio_pendiente, persona.para_exportar)}}">
      <td >{{persona.cuil}}</td>
      <td rowspan="1" colspan="2">
        {{persona.apellido}}, {{persona.nombre}}
        <div class="btn-group">
          <button *ngIf="(persona.lugar !== undefined)" type="button" class="btn btn-sm btn-light" [autoClose]="'outside'" ngbTooltip="{{direccion(persona.lugar)}}" container="body" triggers="click" ><i class="fas fa-home"></i></button>
          <button *ngIf="(persona.telefono !== '')" type="button" class="btn btn-sm btn-light" [autoClose]="'outside'" ngbTooltip="{{persona.telefono}}" container="body" triggers="click"><i class="fas fa-phone"></i></button>
          <button *ngIf="(persona.celular !== '')" type="button" class="btn btn-sm btn-light" [autoClose]="'outside'" ngbTooltip="{{persona.celular}}" container="body" triggers="click"><i class="fas fa-mobile-alt"></i></button>
          <button *ngIf="(persona.email !== '')" type="button" class="btn btn-sm btn-light" [autoClose]="'outside'" ngbTooltip="{{persona.email}}" container="body" triggers="click"><i class="far fa-envelope"></i></button>
          <button *ngIf="((persona.cbu) && persona.cbu !== '')" type="button" class="btn btn-sm btn-light" [autoClose]="'outside'" ngbTooltip="{{persona.cbu}}" container="body" triggers="click"><i class="fas fa-university"></i></button>
          <button *ngIf="(persona.tiene_cbu)" type="button" class="btn btn-sm btn-light" [autoClose]="'outside'" ngbTooltip="{{obtenerCbu(persona.lista_cuenta)}}" container="body" triggers="click"><i class="fas fa-university"></i></button>
        </div>
      </td>
      <td class="text-center">{{(persona.lugar !== undefined) ? persona.lugar.localidad : ""}}</td>
      <td class="text-center">{{(persona.sucursal !== "") ? persona.sucursal : ""}}</td>
      <td *ngIf="(persona.create_at)" class="text-center">{{persona.create_at | date: 'dd/MM/yyyy'}}</td>
      <td class="text-center">
        <modal-info-persona [persona]="persona" [listadoBancos]="configurarListas.bancos" (actualizarDatos)="actualizarListado($event, persona.cuil)"></modal-info-persona>
        <modal-editar-persona [config-listas]="configurarListas" [persona]="persona" [tipo]="tipo" (obtenerDatosPersona)="obtenerCuilPersona($event)"></modal-editar-persona>
        <modal-registrar-cbu *ngIf="(tipo === 'cuenta' && (persona.tiene_cbu !== 'undefinded' && !persona.tiene_cbu) && (!persona.convenio_pendiente))" [edicion]="false" [botonCircular]="true" [listadoBancos]="configurarListas.bancos" [personaid]="persona.id" (actualizarDatos)="actualizarListado($event, persona.cuil)" ></modal-registrar-cbu>
        <modal-agregar-sucursal *ngIf="(tipo === 'cuenta' && (persona.tiene_cbu !== 'undefinded' && !persona.tiene_cbu) && (!persona.convenio_pendiente))" [subSucursales]="configurarListas.subSucursales" [idPersona]="persona.id" [existeCopia]="copiaDeDatos.existe" [copiaSeleccion]="copiaDeDatos" [listaDeSeleccionPersona]="configurarListas.seleccionPersona" [persona]="persona" (obtenerPrestacion)="obtengoDatosPrestacion(persona,$event)"></modal-agregar-sucursal>
        <modal-rechazar-prestacion *ngIf="(persona.convenio_pendiente)" (confirmarBorrado)="rechazarPrestacion($event, persona.id, persona.cuil)"></modal-rechazar-prestacion>
        <modal-rechazar-prestacion *ngIf="(!persona.convenio_pendiente && persona.sucursal !== '' && !persona.tiene_cbu)" (confirmarBorrado)="rechazarPrestacion($event, persona.id, persona.cuil)"></modal-rechazar-prestacion>
      </td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-between border-top">
  <div class="d-flex align-items-center p-2 font-weight-bold">
    <span *ngIf="configPaginacion.totalRegistros > 0">Personas: {{configPaginacion.cantRegistros}} - {{configPaginacion.totalRegistros}} de {{configPaginacion.colleccionSize}}</span>
    <span *ngIf="configPaginacion.totalRegistros == 0">Personas: 0</span>
  </div>
  <div class="d-flex align-items-center pt-3   font-weight-bold">
    <ngb-pagination *ngIf="(configPaginacion.colleccionSize > 0)"  [collectionSize]="configPaginacion.colleccionSize" [(page)]="configPaginacion.page" [pageSize]="configPaginacion.pageSize" [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="cambioPagina(configPaginacion.page)" aria-label="lisado de stock"></ngb-pagination>
  </div>
</div>


