<table class="table table-hover table-sm table-responsive-md">
  <thead>
    <tr>
      <th scope="col">{{(tipo !== 'importar') ? 'Documento' : 'Cuil' }}</th>
      <th scope="col" rowspan="1" colspan="2">Apellido y Nombre</th>
      <th class="text-center">Localidad</th>
      <th *ngIf="(tipo === 'importar')" class="text-center" scope="col">Fecha de Ingreso</th>
      <th *ngIf="(tipo === 'importar')" scope="col">Monto</th>
      <th class="text-center">Acción</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let persona of listadoPersonas">
      <td >{{(tipo !== 'importar') ? persona.nro_documento : persona.cuil}}</td>
      <td rowspan="1" colspan="2">
        {{persona.apellido}}, {{persona.nombre}}
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-light" ngbTooltip="{{direccion(persona.lugar)}}" container="body" triggers="click:blur" ><i class="fas fa-home"></i></button>
          <button *ngIf="(persona.telefono !== '')" type="button" class="btn btn-sm btn-light" ngbTooltip="{{persona.telefono}}" container="body" triggers="click:blur"><i class="fas fa-phone"></i></button>
          <button *ngIf="(persona.celular !== '')" type="button" class="btn btn-sm btn-light" ngbTooltip="{{persona.celular}}" container="body" triggers="click:blur"><i class="fas fa-mobile-alt"></i></button>
          <button *ngIf="(persona.email !== '')" type="button" class="btn btn-sm btn-light" ngbTooltip="{{persona.email}}" container="body" triggers="click:blur"><i class="far fa-envelope"></i></button>
          <button *ngIf="(tipo === 'importar' && persona.cuenta_cbu !== '')" type="button" class="btn btn-sm btn-light" ngbTooltip="{{persona.cuenta_cbu}}" container="body" triggers="click:blur"><i class="fas fa-university"></i></button>
        </div>
      </td>
      <td class="text-center">{{persona.lugar.localidad}}</td>
      <td *ngIf="(tipo === 'importar')" class="text-center">{{persona.prestacion_fecha_ingreso | date: 'dd/MM/yyyy'}}</td>
      <td *ngIf="(tipo === 'importar')" class="text-center">{{persona.prestacion_monto}}</td>
      <td class="text-center">
        <modal-info-persona [persona]="persona"></modal-info-persona>
        <modal-editar-persona [config-listas]="configurarListas" [persona]="persona" [tipo]="tipo"></modal-editar-persona>
        <modal-agregar-sucursal *ngIf="(tipo === 'cuenta')" [subSucursales]="configurarListas.subSucursales" [idPersona]="persona.id" [existeCopia]="copiaDeDatos.existe" [copiaSeleccion]="copiaDeDatos" [listaDeSeleccionPersona]="configurarListas.seleccionPersona" (seleccionDeSucursal)="obtengoSeleccionDeSucursal(persona,$event)"></modal-agregar-sucursal>
        <button *ngIf="copiaDeDatos.existe" type="button" class="btn btn-sm btn-outline-success btn-group-left" (click)="pegarCopiaSeleccionada(persona, copiaDeDatos)" ngbTooltip="Pegar última selección" container="'body'"><i class="fas fa-paste"></i></button>
      </td>
    </tr>
  </tbody>
</table>
<div class=" d-flex justify-content-center">
  <ngb-pagination *ngIf="(configPaginacion.colleccionSize > 0)"  [collectionSize]="configPaginacion.colleccionSize" [(page)]="configPaginacion.page" [pageSize]="configPaginacion.pageSize" [maxSize]="10" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="cambioPagina(configPaginacion.page)" aria-label="lisado de stock"></ngb-pagination>
</div>


